/*colours specific to NICS*/
$nics-brand-colour: #0D1925;
$nics-grey: #e6e6e6;
$nics-service-name-color: #0869b3;

/*Customisation of the layout page*/

.header__brand {
    polygon {
        fill: White;
        opacity: 0.7;
        margin-left: 50px !important;
    }
}

/*Style header as per uxm*/
.govuk-header {
    background: $nics-brand-colour;
    color: #fff;

    &__container {
        border-bottom-color: govuk-colour("mid-grey");
    }

    &__link {
        &:visited,
        &:link {
            padding: 0px;
        }
    }
}

@media (max-width: 823px) {
    .govuk-header {
        &__container {
            min-height: 100px;
        }

        &__logotype-crown {
            margin-left: -20px !important;
        }

        &__logotype-text {
            margin-left: -10px !important;
            position: absolute;
            left: 40px;
            top: 30px;
            width: 80%;
            font-size: 0.7em;
        }

        &__logotype-text {
            margin-left: -10px !important;
            position: absolute;
            left: 40px;
            top: 24px;
            width: 80%;
            font-size: 0.7em;
        }

        &__product-name {
            margin-left: -10px !important;
            position: absolute;
            left: 40px;
            top: 45px;
            width: 80%;
            font-size: 0.5em;
        }
    }
}

/*Customise the product page jumbotron*/
.masthead {
    background-color: $nics-grey;
    color: black !important;
}

.hero__title {
    color: $nics-service-name-color;
}

.hero__description {
    color: rgb(32, 32, 32);
}

.hero__paragraph {
    color: rgb(32, 32, 32);
}

.hero-alternative-action {
    color: rgb(32, 32, 32);
    a {
        color: $nics-service-name-color !important;
        font-weight: normal !important;
    }
}

.related-items {
    border-top-color: $nics-brand-colour !important;
}

@media (min-width: 48.0625em) {
    .govuk-header {
        &__navigation-item {
            display: inline-block;
            margin-right: 5px;
            padding: 5px 0;
            border: 0;
            a {
                margin: 10px;
            }
        }
    }
}

@media (min-width: 48.0625em) {
    .govuk-header__navigation-item a {
        margin: 2px;
    }
}

h1.govuk-link {
  font-size: 1.0em;
}

.dss-blog-header-svg {
  margin-top: -6px;
}

.dss-image {
  width: 100%;
  margin-bottom: 1em;
}
