<div class="govuk-header__content">
  <button type="button" role="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
  <nav>
    <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
      <%
        config[:settings]["header_links"].each do |title, url|
      %>
        <li class="govuk-header__navigation-item<% if url == current_page.url %> govuk-header__navigation-item--active" aria-current="page<% end %>">
          <a class="govuk-header__link" href="<%= url == current_page.url ? "#main-content" : url %>">
            <%= title %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
