---
title: Accessibility statement
---

<div class="govuk-width-container product-page-!-border-bottom">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
        <a class="govuk-breadcrumbs__list-item" href="/">Architecture Team</a>
      </li>
    </ol>
  </div>
</div>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessbility statement</h1>
        <h2 class="govuk-heading-l">How accessible this website is</h2>
        <h3 class="govuk-heading-m">What to do if you cannnot access parts of this website</h3>
        <h3 class="govuk-heading-m">Reporting accessibility problems with this site</h3>
        <h3 class="govuk-heading-m">Enforcement procedure</h3>
        <!-- <h2 class="govuk-heading-l">Contacting us or visiting us in person</h2> -->
        <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
        <!-- <h2 class="govuk-heading-l">Non accessible content</h2> -->
        <h3 class="govuk-heading-m">Non compliance with the accessibility regulations</h3>
        <!-- <h2 class="govuk-heading-l">Disproportiaonate burden</h2> -->
        <h3 class="govuk-heading-m">Content that's not within the scope of the accessibility regulations</h3>
        <h2 class="govuk-heading-l">How we tested this website</h2>
        <h2 class="govuk-heading-l">What we are going to do to improve accessibility</h2>
      <div class="govuk-grid-column-one-third govuk-!-padding-left-3">
      </div>
    </div>
  </div>
</main>
